@media (max-width: 1200px) {
    .title {
        &_left {
            font-size: 30px;
        }
    }
    .footer {
        &__info {
            width: 400px;
        }
    }
}

@media (max-width: 991px) {
    .promo {
        padding: 21px 20px 93px 0;
    }
    .catalog {
        &__content {
            justify-content: space-around;
        }
        &__tabs {
            pointer-events: none;
        }
    }
    .reviews {
        &__descr {
            font-size: 15px;
            width: 520px;
        }
    }
    .footer {
        &__info {
            width: 300px;
            transform: translateX(-40%);
        }
        &__addr {
            font-size: 17px;
        }
    }
}

@media (max-width: 767px) {
    .header {
        padding: 0 10px;
        &__logo {
            width: 180px;
        }
        &__official {
            span {
                font-size: 16px;
            }
        }
        &__phone {
            font-size: 16px;
        }
    }
    .promo {
        padding: 21px 0 93px 0;
        &__wrapper {
            align-items: center;
        }
        &__header {
            font-size: 39px;
        }
        &__subheader {
            font-size: 21px;
        }
    }
    .advantages {
        .title {
            font-size: 28px;
        }
        &__header {
            font-size: 16px;
        }
        &__subheader {
            font-size: 12.5px;
        }
        &__wrapper {
            padding-top: 50px;
        }
    }
    .consultation {
        padding: 60px 0 110px 0;
        &__descr {
            text-align: center;
            padding-top: 20px;
        }
    }
    .title {
        &_left {
            text-align: center;
            font-size: 24px;
        }
    }
    .catalog {
        .title_catalog {
            font-size: 26px;
        }
        &__tab {
            width: 150px;
            font-size: 16px;
        }
    }
    .reviews {
        &__descr {
            font-size: 13px;
            width: 330px;
            span {
                display: none;
            }
        }
    }
}

@media (max-width: 575px) {
    .promo {
        .header {
            display: block;
            &__logo {
                display: block;
                margin: 0 auto;
                width: 250px;
            }
            &__official {
                display: none;
            }
            &__contacts {
                align-items: center;
                margin-top: 15px;
            }
            &__phone {
                font-size: 20px;
            }
        }
        &__header {
            font-size: 32px;
            text-align: center;
        }
        &__subheader {
            font-size: 19px;
            text-align: center;
        }
        &__icons {
            width: 300px;
        }
        &__icon {
            font-size: 13px;
        }
    }   
    .advantages {
        .title {
            font-size: 26.6px;
        }
        &__wrapper {
            display: block;
        }
        &__items {
            margin: 0 auto;
            height: 230px;
        }
        &__header {
            margin: 10px 0 10px 0;
        }
        &__subheader {
            font-size: 15px;
        }
    }
    .title {
        &_left {
            font-size: 14px;
        }
    }
    .feed-form {
        padding-left: 9px;

    }
    .consultation {
        &__descr {
            display: none;
        }
    }
    .catalog {
        .title_catalog {
            font-size: 25px;
        }
        &__tabs {
            flex-direction: column;
        }
        &__tab {
            width: 250px;
            font-size: 20px;
            margin-bottom: 16px;
        }
    }
    .reviews {
        .title {
            font-size: 25px;
        }
        &__item {
            margin-left: 0;
            text-align: center;
            img {
                position: static;
            }
        }
        &__descr {
            font-size: 13px;
            width: 300px;
        }
    }
    #consultation {
        width: 300px;
        left: 21.6%;
        padding: 16px 40px 40px 26px;
    }
    .feed-form_mt25 {
        input {
            width: 250px;
        }
    }
}